{namespace Confluence.Templates.Mail.Content}
/**
 * Move Page pattern
 * @param oldSpace
 * @param? oldParentPage
 * @param space
 * @param? currentParentPage
 * @param? movedChildPages
 */
{template .movePagePattern}
<table id="move-page-pattern" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="move-page-pattern-label">{getText('confluence.mail.templates.move.from')}</td>
        <td class="move-page-pattern-icon-container">
            <img class="move-page-pattern-icon-image image_fix" src="{spaceLogoImage($oldSpace)}"
                 alt="{$oldSpace.name} logo" title="{$oldSpace.name} logo" height="32" width="32" border="0"/>
        </td>
        <td class="move-page-pattern-text-container" width="100%">
            <a href="{sourceLink(baseUrl() + '/display/' + $oldSpace.key)}">{$oldSpace.name}</a>
            {if $oldParentPage}
            &nbsp;/&nbsp;<a href="{sourceLink(baseUrl() + contentUrl($oldParentPage))}">{$oldParentPage.title}</a>
            {/if}
        </td>
    </tr>
    <tr>
        <td class="move-page-pattern-label">{getText('confluence.mail.templates.move.to')}</td>
        <td class="move-page-pattern-icon-container">
            <img class="move-page-pattern-icon-image image_fix" src="{spaceLogoImage($space)}"
                 alt="{$space.name} logo" title="{$space.name} logo" height="32" width="32" border="0"/>
        </td>
        <td class="move-page-pattern-text-container" width="100%">
            <a href="{sourceLink(baseUrl() + '/display/' + $space.key)}">{$space.name}</a>
            {if $currentParentPage}
                &nbsp;/&nbsp;<a href="{sourceLink(baseUrl() + contentUrl($currentParentPage))}">{$currentParentPage.title}</a>
            {/if}
        </td>
    </tr>

    {if $movedChildPages}
        /* Children moved stuff (can be hidden) */
        <tr height="10">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="move-page-pattern-label children">
                {getText('confluence.mail.templates.move.children')}
            </td>
            <td colspan="2" width="100%">
                <table id="move-page-children-pattern" cellspacing="0" cellpadding="0" border="0">
                {foreach $childPage in $movedChildPages}
                    <tr>
                        <td class="move-page-pattern-icon-container children">
                            <img class="move-children-pattern-icon-image image_fix" src="{resourceImage('com.atlassian.confluence.plugins.confluence-email-resources:content-type-icons', 'page-icon')}" alt="" title="" height="16" width="16" border="0"  />
                        </td>
                        <td class="move-page-pattern-text-container">
                            {$childPage.title}
                        </td>
                    </tr>
                {/foreach}
                </table>
            </td>
        </tr>

    {/if}
</table>
{/template}