{namespace Confluence.Templates.Mail.Content}
/**
 * Notification Comment Pattern
 * @param comment
 */
{template .notificationCommentPattern}
<table class="notification-comment-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td class="notification-comment-pattern-container mobile-resize-text">
              {$comment|noAutoescape}
        </td>
    </tr>
</table>
{/template}