{namespace Confluence.Templates.Mail.Content}
/**
  * Page Title Pattern
  * @param contentUrl The url of the item being linked to
  * @param contentType The type of the item
  * @param contentIconResourceModule The resource module for the 16x16 icon used in this pattern
  * @param contentIconResourceKey The key of the image to use
  * @param titleText
  * @param? pageTitleInlinePattern
  * @param? deleted
  */
{template .pageTitlePattern}
<table id="page-title-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
    /* email header goes in this row */
    <tr>
        /* 16x16 icon representing email type goes in this cell */
        <td id="page-title-pattern-icon-image-container" valign="top">
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td id="page-title-pattern-icon-image-container-cell">
                        <a href="{sourceLink(baseUrl() + $contentUrl,'view')}" title="{$contentType} icon" style="vertical-align: top;">
                            <img style="vertical-align: top; display: block;"
                                src="{resourceImage($contentIconResourceModule, $contentIconResourceKey)}"
                                alt="{$contentType} icon" title="{$contentType} icon" height="16" width="16" border="0" />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        /* email title goes in this h2 tag */
        <td style="vertical-align: top;" id="page-title-pattern-header-container">
            <span id="page-title-pattern-header" {if $deleted}class="content-deleted-color"{/if}>
                <a href="{sourceLink(baseUrl() + $contentUrl,'view')}" title="{$titleText}">{$titleText}</a>
            </span>
            {if $deleted}
                &nbsp;
                {call Confluence.Templates.Mail.Content.contentDeletedLozengePattern/}
            {/if}
            {if $pageTitleInlinePattern}
                &nbsp;
                {$pageTitleInlinePattern|noAutoescape}
            {/if}
        </td>
    </tr>
</table>
{/template}