{namespace Confluence.Templates.Mail.Content}
/**
  * Status Update Pattern
  * @param statusHtml
  */
{template .statusUpdatePattern}
{natto(['soy-template-file-name' : 'status-update-pattern-1.0.0.soy', 'deprecate-in-version' : '5.5', 'remove-in-version' : '6.2'], 'The [statusUpdatePattern] template has been changed to source the status icon image directly instead of by convention in [status-update-pattern-2.0.0.soy].')}
<table id="status-update-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td id="status-update-pattern-icon-container" valign="top">
            <table>
                <tr>
                    <td id="page-link-pattern-icon">
                        <img id="status-update-pattern-icon-image" class="image_fix" src="cid:status-icon" alt="status icon" title="status icon" height="16" width="16" border="0" />
                   </td>
                </tr>
            </table>
        </td>
        <td id="status-update-pattern-text" valign="middle" class="mobile-resize-text">
            {$statusHtml|noAutoescape}
        </td>
    </tr>
</table>
{/template}