{namespace Confluence.Templates.Mail.Content}
/**
 * Users Involved Pattern
 * @param actionString a blurb of html to display before the tables
 * @param users java.lang.Iterable<ConfluenceUser> a list of confluence users to display
 * @param? emails java.lang.Iterable<String> a list of email address in string format to display
 * @param? groups java.lang.Iterable<com.atlassian.user.Group> a list of groups
 * @param? after java.lang.String a blurb of html to display after the tables
 */
{template .usersInvolvedPattern}
<table id="users-involved-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td id="users-involved-pattern-container-top" class="users-involved-pattern-content mobile-resize-text" valign="middle">
            {$actionString|noAutoescape}
        </td>
    </tr>
    <tr>
        <td id="users-involved-pattern-container" class="users-involved-pattern-content mobile-resize-text" valign="middle">

            {let $totalUsers: $users ? length($users) : 0/}
            {let $totalEmails: $emails ? length($emails) : 0/}
            {let $totalGroups: $groups ? length($groups) : 0/}
            {let $totalInvolved: $totalUsers + $totalEmails + $totalGroups /}

            {foreach $user in $users}
                {call Confluence.Templates.Mail.Utils.avatarNameTableColumn}
                    {param avatarCid: avatarImage($user)/}
                    {param contentsHtml}
                        {call Confluence.Templates.Mail.Utils.userAvatarNameTable}
                            {param user: $user/}
                        {/call}
                    {/param}
                    {param totalInvolved: $totalInvolved/}
                    {param currentIndex: index($user)/}
                {/call}
            {/foreach}

            {if $emails}
                {foreach $email in $emails}
                    {call Confluence.Templates.Mail.Utils.avatarNameTableColumn}
                        {param contentsHtml}
                            {call Confluence.Templates.Mail.Utils.avatarNameTable}
                                {param avatarCid: resourceImage('com.atlassian.confluence.plugins.confluence-email-resources:content-type-icons', 'email-icon')/}
                                {param displayNameHtml}
                                    {call Confluence.Templates.Mail.Utils.anonymousUserLink}
                                        {param email}{$email}{/param}
                                    {/call}
                                {/param}
                            {/call}
                        {/param}
                        {param totalInvolved: $totalInvolved/}
                        {param currentIndex: $totalUsers + index($email)/}
                    {/call}
                {/foreach}
            {/if}

            {if $groups}
                {foreach $group in $groups}
                    {call Confluence.Templates.Mail.Utils.avatarNameTableColumn}
                        {param contentsHtml}
                            {call Confluence.Templates.Mail.Utils.avatarNameTable}
                                {param avatarCid: resourceImage('com.atlassian.confluence.plugins.confluence-email-resources:misc-icons', 'group-icon')/}
                                {param displayNameHtml}{$group.name}{/param}
                            {/call}
                        {/param}
                        {param totalInvolved: $totalInvolved/}
                        {param currentIndex: $totalUsers + $totalEmails + index($group)/}
                    {/call}
                {/foreach}
            {/if}
        </td>
    </tr>
    <tr>
        <td id="users-involved-pattern-container-bottom" class="users-involved-pattern-content mobile-resize-text" valign="middle">
            {if $after}
                {$after|noAutoescape}
            {/if}
        </td>
    </tr>
</table>
{/template}