{namespace Confluence.Templates.Mail.Notifications}
/**
 * @param modifier com.atlassian.confluence.user.ConfluenceUser
 * @param content com.atlassian.confluence.api.model.content.Content
 * @param? diffHtml html of the diff of the edit
 * @param? showDiffs boolean flag. If true, diffHtml should contain a diff. If false, diffHtml will not exist.
 * @param notificationKey com.atlassian.plugin.ModuleCompleteKey
 * @param watchType com.atlassian.confluence.mail.notification.Notification.WatchType
 * @param? webFragmentContext a context that is passed to a web fragment.
 */
{template .blogPostEdited}
    {let $pageTitle}
        {call Confluence.Templates.Mail.Content.contentTitlePattern}
            {param content: $content/}
        {/call}
    {/let}
    {let $contentExcerpt}
        {if $showDiffs}
            {if $diffHtml}
                {call Confluence.Templates.Mail.Content.contentExcerptPattern}
                    {param contentExcerpt: $diffHtml/}
                {/call}
            {else}
                {call Confluence.Templates.Mail.Content.contentExcerptPattern}
                    {param contentExcerpt: getText('diff.pages.error.diffing')/}
                {/call}
            {/if}
        {/if}
    {/let}
    {let $pageActions}
        {call Confluence.Templates.Mail.Content.actionsPattern}
            {param actions: itemsForSection($content.id, 'email.adg.action.links', ['notificationKey' : $notificationKey])/}
        {/call}
    {/let}
    {let $comment}
        {if $content.version.message}
            {call Confluence.Templates.Mail.Content.notificationCommentPattern}
                {param comment: getText('confluence.mail.templates.edit.comment', $content.version.message)/}
            {/call}
        {/if}
    {/let}
    {call Confluence.Templates.Mail.Chrome.mainTable}
        {param header}
            {call Confluence.Templates.Mail.Chrome.headerPattern}
                {param actionString: getText('confluence.mail.templates.edited.a.blogpost')/}
                {param user: $modifier/}
            {/call}
        {/param}
        {param contentArea: $comment ? [$comment, ['class' : 'padding-top border-top', 'content' : $pageTitle], $contentExcerpt, ['class' : 'action-padding', 'content' : $pageActions]] : [$pageTitle, $contentExcerpt, ['class' : 'action-padding', 'content' : $pageActions]]/}
        {param footer}
            {call Confluence.Templates.Mail.Chrome.footerPattern}
                {param footerLinks:itemsForSection($content.id, 'email.adg.footer.links', ['notificationKey' : $notificationKey, 'watchType' : $watchType, 'modifier' : $modifier])/}
            {/call}
        {/param}
        {param webFragmentContext: $webFragmentContext/}
    {/call}
{/template}
