{namespace Confluence.Templates.Mail.Notifications}
/**
 * @param avatarCid
 * @param modifier
 * @param contentType
 * @param content
 * @param commentHtml
 * @param page
 * @param? parentCommentHtml
 * @param? parentUser
 * @param? parentAvatar
 * @param actionLinks
 * @param footerLinks
 * @param webFragmentContext
 */
{template .commentAdd}
    {let $pageTitle}
        {call Confluence.Templates.Mail.Content.pageTitlePattern}
            {param contentType: $contentType/}
            {param titleText: $content.displayTitle/}
            {param contentUrl}
                {baseUrl()}{$content.urlPath}
            {/param}
        {/call}
    {/let}
    {let $contentExcerpt}
        {call Confluence.Templates.Mail.Content.contentExcerptPattern}
            {param contentExcerpt: $commentHtml/}
        {/call}
    {/let}
    {let $pageActions}
        {call Confluence.Templates.Mail.Content.actionsPattern}
            {param actions: $actionLinks/}
        {/call}
    {/let}
    {call Confluence.Templates.Mail.Chrome.mainTable}
        {param header}
            {call Confluence.Templates.Mail.Chrome.headerPattern}
                {param actionString: getText('confluence.mail.templates.commented.on.a.' + toString($page.type))/}
                {param avatarImage: $avatarCid/}
                {param user: $modifier/}
            {/call}
        {/param}
        {param contentArea: [$pageTitle, $contentExcerpt, ['class' : 'action-padding', 'content' : $pageActions]]/}
        {param contextualArea}
            {if $parentCommentHtml}
                {call Confluence.Templates.Mail.Content.contextualExcerptPattern}
                    {param content: $parentCommentHtml/}
                    {param user: $parentUser/}
                    {param avatar: $parentAvatar/}
                {/call}
            {/if}
        {/param}
        {param footer}
            {call Confluence.Templates.Mail.Chrome.footerPattern}
                {param footerLinks: $footerLinks/}
            {/call}
        {/param}
        {param webFragmentContext: $webFragmentContext/}
    {/call}
{/template}