{namespace Confluence.Templates.Mail.Utils}
/**
 * Useful to allow padding between horizontally floating elements.
 *
 * @param content
 * @param? containerClass
 * @param? horizontalAlignment
 * @param? verticalAlignment
 * @param? tableClass
 */
{template .floatingTable}
     <table cellspacing="0" cellpadding="0" border="0" align="{switch $horizontalAlignment}{case 'right'}right{default}left{/switch}"{if $tableClass} class="{$tableClass}"{/if}>
        <tr>
            {if isList($content)}
                {foreach $contentElement in $content}
                    {call .floatingTableCell}
                        {param contentHtml: $contentElement/}
                        {param containerClass}
                            {if length($content) > 1 and (isFirst($contentElement) or isLast($contentElement))}
                                {if isFirst($contentElement)}
                                    first
                                {elseif isLast($contentElement)}
                                    last
                                {/if}
                                {if $containerClass}
                                    {sp}
                                {/if}
                            {/if}
                            {if $containerClass}
                               {$containerClass}
                            {/if}
                        {/param}
                        {param verticalAlignment: $verticalAlignment/}
                    {/call}
                {/foreach}
            {else}
                {call .floatingTableCell}
                    {param contentHtml: $content/}
                    {param containerClass: $containerClass/}
                    {param verticalAlignment: $verticalAlignment/}
                {/call}
            {/if}
        </tr>
    </table>
{/template}

/**
 * @param contentHtml
 * @param? containerClass
 * @param? verticalAlignment
 */
{template .floatingTableCell private="true"}
     <td{if $containerClass} class="{$containerClass}"{/if} valign="{switch $verticalAlignment}{case 'bottom'}bottom{case 'middle'}middle{default}top{/switch}">{$contentHtml|noAutoescape}</td>
{/template}