{namespace Confluence.Templates.Mail.Content}
/**
 * Actions Pattern, expects a sequence of com.atlassian.confluence.links.SimpleLink objects
 * @param actions
 */
{template .actionsPattern}
{natto(['soy-template-file-name' : 'actions-pattern-1.0.0.soy', 'deprecate-in-version' : '5.5', 'remove-in-version' : '6.2'], 'The [actionsPattern] template has been changed to take an [Iterable<com.atlassian.confluence.api.model.web.WebItemView>] instead of an [Iterable<com.atlassian.confluence.links.SimpleLink>] in [actions-pattern-2.0.0.soy].')}
<table id="actions-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td id="actions-pattern-container" valign="middle">
            /* Loop for secondary actions as necessary */
            {if $actions}
                {foreach $action in $actions}
                    {if $action}
                    <table {if not isLast($action)}align="left"{/if}>
                        <tr>
                            <td class="actions-pattern-action-icon-container">
                                /* secondary action icon */
                                <a href="{sourceLink(baseUrl() + $action.href)}" title="{getText($action.text)}">
                                    <img class="actions-pattern-action-icon-image" src="cid:{$action.text}" alt="{getText($action.text)}-icon" title="{getText($action.text)}-icon" height="16" width="16" border="0" />
                                </a>
                            </td>
                            <td class="actions-pattern-action-text-container">
                                /* secondary action text */
                                <a href="{sourceLink(baseUrl() + $action.href)}" title="{getText($action.text)}">{getText($action.text)}</a>
                            </td>
                            {if not isLast($action)}
                            <td class="actions-pattern-action-bull">
                                &bull;
                            </td>
                            {/if}
                        </tr>
                    </table>
                    {/if}
                {/foreach}
            {/if}
        </td>
    </tr>
</table>
{/template}