{namespace Confluence.Templates.Mail.Content}
/**
 * Content Added Pattern, for use with attachments emails
 * @param attachments List<com.atlassian.confluence.api.model.content.Content>
 * @param? deleted boolean
 */
{template .contentCreatedPattern}
<table class="content-added-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
    {foreach $attachmentContentObject in $attachments}
        <tr>
            <td class="content-added-pattern-icon-container">
                <table>
                    <tr>
                        <td class="content-added-pattern-icon">
                            <img class="content-added-pattern-icon-image"
                                src="{resourceImage('com.atlassian.confluence.plugins.confluence-email-resources:content-type-icons', getAttachmentIcon($attachmentContentObject))}"
                                alt="attachment"
                                title="attachment"
                                height="16"
                                width="16"
                                border="0" />
                        </td>
                    </tr>
                </table>
            </td>
            <td class="content-added-pattern-text">
                <table {if $deleted}align="left"{/if}>
                    <tr>
                        <td class="content-added-pattern-text-container mobile-resize-text {if $deleted}content-deleted-color{/if}">
                            <span style="vertical-align: middle">
                            {if not $deleted}
                                <a href="{sourceLink(baseUrl() + getAttachmentDownloadUrl($attachmentContentObject))}" title="">
                            {/if}
                                {$attachmentContentObject.title}
                            {if not $deleted}
                                </a>
                            {/if}
                            {sp}&bull;{sp}
                                {getNiceFileSize($attachmentContentObject)}{sp}{getText(getAttachmentI18nKey($attachmentContentObject))}
                            </span>
                            &nbsp;
                            {if $deleted}
                                {call Confluence.Templates.Mail.Content.contentDeletedLozengePattern/}
                            {/if}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        {if $attachmentContentObject.metadata['comment']}
        /* Optional comment */
        <tr>
            <td></td>
            <td class="content-added-pattern-text mobile-resize-text{if $deleted} content-deleted-color{/if}">
                {$attachmentContentObject.metadata['comment']}
            </td>
        </tr>
        {/if}
    {/foreach}
</table>
{/template}