{namespace Confluence.Templates.Mail.Content}
/**
 * Contextual Excerpt Pattern
 * @param content
 * @param user
 * @param avatar
 */
{template .contextualExcerptPattern}
{natto(['soy-template-file-name' : 'contextual-excerpt-pattern-1.0.0.soy', 'deprecate-in-version' : '5.5', 'remove-in-version' : '6.2'], 'The [contextualExcerptPattern] template has been changed to use the given user object to derive the user\'s avatar via [com.atlassian.confluence.plugins.email.soy.UserAvatarImageFunction] in [contextual-excerpt-pattern-2.0.0.soy].')}
<table class="contextual-excerpt-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td colspan="2" class="contextual-excerpt-pattern-text mobile-resize-text">
            {getText('confluence.mail.templates.in.reply.to')|noAutoescape}
        </td>
    </tr>
    <tr>
        <td class="contextual-excerpt-pattern-avatar-container" valign="top">
            <table>
                <tr>
                    <td class="contextual-excerpt-pattern-avatar">
                        <img class="contextual-excerpt-pattern-avatar-image image_fix" src="cid:{$avatar}" alt="" title="" height="32" width="32" border="0" />
                    </td>
                </tr>
            </table>
        </td>
        <td class="contextual-excerpt-pattern-text contextual-excerpt-pattern-text-container mobile-resize-text" valign="top">
            <strong>{if $user}
                {$user.fullName}
            {else}
                {getText('confluence.mail.templates.anonymous.name')}
            {/if}</strong>
            <div>
                {call .inlineContentStyles}
                    {param content: $content/}
                {/call}
            </div>
        </td>
    </tr>
</table>
{/template}