{namespace Confluence.Templates.Mail.Content}
/**
 * Highlight for content excerpt in link
 * @param content
 */
{template .contentHighlight}
    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="excerpt-highlight">
        <tr>
            <td class="excerpt-highlight-container mobile-resize-text">
                {$content|noAutoescape}
            </td>
        </tr>
    </table>
{/template}