{namespace Confluence.Templates.Mail.Content}
/**
 * Page link pattern
 * @param pageTitle
 * @param pageUrl
 * @param contentType
 * @param contentIconResourceModule
 * @param contentIconResourceKey
 */
{template .pageLinkPattern}
<table id="page-link-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td id="page-link-pattern-icon-container" valign="top">
            <table>
                <tr>
                    <td id="page-link-pattern-icon">
                        <a href="{sourceLink(baseUrl() + $pageUrl)}" title="{$pageTitle}">
                            <img id="page-link-pattern-icon-image" class="image_fix" src="{resourceImage($contentIconResourceModule,$contentIconResourceKey)}" alt="{$contentType} icon" title="{$contentType} icon" height="16" width="16" border="0" />
                        </a>
                   </td>
                </tr>
            </table>
        </td>
        <td id="page-link-pattern-text" valign="middle" class="mobile-resize-text">
            <strong><a href="{sourceLink(baseUrl() + $pageUrl)}" title="{$pageTitle}">{$pageTitle}</a></strong>
        </td>
    </tr>
</table>
{/template}