{namespace Confluence.Templates.Mail.Content}
/**
* @param tableTitle text to display before table of data
* @param labels labels that go on the left hand side
* @param values values that go on the right hand side
*/
{template .simpleDataTablePattern}
    <table class="simple-data-container">
        <tr>
            <td colspan="2" class="simple-data-title">{$tableTitle}</td>
        </tr>
        {foreach $label in $labels}
            <tr>
                <td class="simple-data-label">{$label}</td>
                <td class="simple-data-value">{$values[index($label)]|noAutoescape}</td>
            </tr>
        {/foreach}
        <tr height="15">
            <td></td>
            <td></td>
        </tr>
    </table>
{/template}