{namespace Confluence.Templates.Mail.Chrome}
/**
 * Footer
 * @param? footerLinks
 */
{template .footerPattern}
{let $useCustomSiteLogo}
    {useCustomSiteLogo()}
{/let}
{natto(['soy-template-file-name' : 'footer-pattern-1.0.0.soy', 'deprecate-in-version' : '5.5', 'remove-in-version' : '6.2'], 'The [footerPattern] template has been changed to take an [Iterable<com.atlassian.confluence.api.model.web.WebItemView>] instead of an [Iterable<com.atlassian.confluence.links.SimpleLink>] in [footer-pattern-2.0.0.soy].')}

{let $footerText}
    {let $clusterNodeId: notificationsClusterNodeId() /}
    {let $clusterNodeName: notificationsClusterNodeName() /}

    {if $clusterNodeId}
        {if $clusterNodeName}
            {getText('confluence.mail.templates.footer.text.cluster', versionNumber(), $clusterNodeName, $clusterNodeId)}
        {else}
            {getText('confluence.mail.templates.footer.text.cluster', versionNumber(), getText('cluster.node'), $clusterNodeId)}
        {/if}
    {else}
        {getText('confluence.mail.templates.footer.text', versionNumber())}
    {/if}
{/let}


<tr>
    <td id="footer-pattern">
        <table id="footer-pattern-container" cellspacing="0" cellpadding="0" border="0" width="100%">
            /* Footer links + desktop logo */
            <tr>
                <td id="footer-pattern-links-container" {if not $footerLinks}class="no-footer-links"{/if} width="100%">
                {if $footerLinks}
                    {foreach $footerLink in $footerLinks}
                    <table {if not isLast($footerLink)}align="left"{/if}>
                        <tr>
                            <td class="footer-pattern-links mobile-resize-text">
                                <a{if $footerLink.id} id="{$footerLink.id|id}"{/if} href="{sourceLink(baseUrl() + $footerLink.href)}" title="">{getText($footerLink.text)}</a>
                            </td>
                            {if not isLast($footerLink)}
                            <td class="footer-pattern-links-bull">&bull;</td>
                            {/if}
                        </tr>
                    </table>
                    {/foreach}
                {else}
                    {$footerText}
                {/if}
                </td>
                {if $useCustomSiteLogo == 'false'}
                    <td id="footer-pattern-logo-desktop-container" rowspan="2" valign="top">
                        <table>
                            <tr>
                                <td id="footer-pattern-logo-desktop-padding">
                                    <img id="footer-pattern-logo-desktop" src="cid:footer-desktop-logo" alt="Confluence logo big" title="Confluence logo big" width="132" height="20" class="image_fix"  />
                                </td>
                            </tr>
                        </table>
                    </td>
                {/if}
            </tr>
            /* Footer text + mobile logo */
            <tr>
                <td id="footer-pattern-text" class="mobile-resize-text" width="100%">
                    {if $footerLinks} {$footerText} {/if}
                    {if $useCustomSiteLogo == 'false'}
                        {if $footerLinks}<br />{/if}
                        <img id="footer-pattern-logo-mobile" src="cid:footer-mobile-logo" alt="" title="" width="0" height="0" />
                    {/if}
                </td>
            </tr>
        </table>
    </td>
</tr>
{/template}