{namespace Confluence.Templates.Mail.Notifications}
/**
 * @param avatarCid
 * @param modifier
 * @param contentType
 * @param content
 * @param actionLinks
 * @param footerLinks
 * @param? diffHtml
 * @param? showDiffs
 */
{template .blogEdit}
    {let $pageTitle}
        {call Confluence.Templates.Mail.Content.pageTitlePattern}
            {param contentType: $contentType/}
            {param titleText: $content.title/}
            {param contentUrl}
                {baseUrl()}{$content.urlPath}
            {/param}
        {/call}
    {/let}
    {let $contentExcerpt}
        {if $showDiffs}
            {if $diffHtml}
                {call Confluence.Templates.Mail.Content.contentExcerptPattern}
                    {param contentExcerpt:$diffHtml/}
                {/call}
            {else}
                {call Confluence.Templates.Mail.Content.contentExcerptPattern}
                    {param contentExcerpt: getText('diff.pages.error.diffing')/}
                {/call}
            {/if}
        {/if}
    {/let}
    {let $pageActions}
        {call Confluence.Templates.Mail.Content.actionsPattern}
            {param actions: $actionLinks/}
        {/call}
    {/let}
    {let $comment}
        {if $content.renderedVersionComment}
            {call Confluence.Templates.Mail.Content.notificationCommentPattern}
                {param comment: getText('confluence.mail.templates.edit.comment', $content.renderedVersionComment)/}
            {/call}
        {/if}
    {/let}
    {call Confluence.Templates.Mail.Chrome.mainTable}
        {param header}
            {call Confluence.Templates.Mail.Chrome.headerPattern}
                {param actionString: getText('confluence.mail.templates.edited.a.blogpost')/}
                {param avatarImage: $avatarCid/}
                {param user: $modifier/}
            {/call}
        {/param}
        {param contentArea: $comment ? [$comment, ['class' : 'padding-top border-top', 'content' : $pageTitle], $contentExcerpt, ['class' : 'action-padding', 'content' : $pageActions]] : [$pageTitle, $contentExcerpt, ['class' : 'action-padding', 'content' : $pageActions]]/}
        {param footer}
            {call Confluence.Templates.Mail.Chrome.footerPattern}
                {param footerLinks: $footerLinks/}
            {/call}
        {/param}
    {/call}
{/template}