{namespace Confluence.Templates.Mail.Notifications}
/**
 * @param modifier com.atlassian.confluence.user.ConfluenceUser
 * @param content com.atlassian.confluence.api.model.content.Content
 * @param contentHtml String
 * @param page
 * @param space
 * @param? parentCommentHtml
 * @param? parentUser
 * @param notificationKey com.atlassian.plugin.ModuleCompleteKey
 * @param watchType com.atlassian.confluence.mail.notification.Notification.WatchType
 * @param webFragmentContext a context that is passed to a web fragment.
 * @param? inlineContext inline context related to the content.
 * @param? parentInlineContext inline context related to the parent content.
 * @param replyByEmailEnabled
 */
{template .commentAdd}
    {let $pageTitle}
        {call Confluence.Templates.Mail.Content.contentTitlePattern}
            {param content: $content/}
        {/call}
    {/let}
    {let $contentExcerpt}
        {call Confluence.Templates.Mail.Content.contentExcerptPattern}
            {param contentExcerpt: $contentHtml/}
            {param inlineContext: $inlineContext/}
        {/call}
    {/let}
    {let $pageActions}
        {call Confluence.Templates.Mail.Content.actionsPattern}
            {param actions: itemsForSection($content.id, 'email.adg.action.links', ['notificationKey' : $notificationKey])/}
        {/call}
    {/let}
    {let $replyByEmail}
        {if $replyByEmailEnabled}
            <table id="reply-by-email" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td id="footer-call-action">
                        {getText('confluence.mail.templates.inbound-mail.reply.byline')}
                    </td>
                </tr>
            </table>
        {/if}
    {/let}
    {call Confluence.Templates.Mail.Chrome.mainTable}
        {param header}
            {call Confluence.Templates.Mail.Chrome.headerPattern}
                {param actionString: getText('confluence.mail.templates.commented.on.a.' + toString($page.type))/}
                {param user: $modifier/}
            {/call}
        {/param}
        {param contentArea: [$pageTitle, $contentExcerpt, ['class' : 'action-padding', 'content' : $pageActions], $replyByEmail]/}
        {param contextualArea}
            {if $parentCommentHtml}
                {call Confluence.Templates.Mail.Content.contextualExcerptPattern}
                    {param content: $parentCommentHtml/}
                    {param user: $parentUser/}
                    {param inlineContext: $parentInlineContext/}
                {/call}
            {/if}
        {/param}
        {param footer}
            {call Confluence.Templates.Mail.Chrome.footerPattern}
                {param footerLinks: itemsForSection($content.id, 'email.adg.footer.links', ['notificationKey' : $notificationKey, 'watchType' : $watchType, 'modifier' : $modifier, 'space' : $space]) /}
            {/call}
        {/param}
        {param webFragmentContext: $webFragmentContext/}
    {/call}
{/template}