{namespace Confluence.Templates.Mail.Notifications}
/**
 * Content added email which is dispatched when somebody adds attachments to a page
 * @param avatarCid
 * @param modifier
 * @param contentType
 * @param page
 * @param attachments
 * @param footerLinks
 */
{template .contentAdded}
    {let $pageTitle}
        {call Confluence.Templates.Mail.Content.pageTitlePattern}
            {param contentType: $contentType/}
            {param titleText: $page.title/}
            {param contentUrl}
                {baseUrl()}{$page.urlPath}
            {/param}
        {/call}
    {/let}
    {let $contentAdded}
        {call Confluence.Templates.Mail.Content.contentAddedPattern}
            {param attachments: $attachments/}
        {/call}
    {/let}
    {call Confluence.Templates.Mail.Chrome.mainTable}
        {param header}
            {call Confluence.Templates.Mail.Chrome.headerPattern}
                {param actionString: getText('confluence.mail.templates.added.files', length($attachments))/}
                {param avatarImage: $avatarCid/}
                {param user: $modifier/}
            {/call}
        {/param}
        {param contentArea: [$pageTitle, $contentAdded]/}
        {param footer}
            {call Confluence.Templates.Mail.Chrome.footerPattern}
                {param footerLinks: $footerLinks/}
            {/call}
        {/param}
    {/call}
{/template}