{namespace Confluence.Templates.Mail.Notifications}
/**
 * @param avatarCid
 * @param modifier
 * @param contentType
 * @param followSubject
 * @param listOfFollowing
 * @param numberOfPeopleFollowing
 * @param emailTitleLink
 * @param footerLinks
 */
{template .followerAdded}
    {let $pageLinkPattern}
        {call Confluence.Templates.Mail.Content.pageLinkPattern}
            {param contentType: $contentType/}
            {param pageTitle}
                {$modifier.fullName}{sp}{getText('confluence.mail.templates.profile')}
            {/param}
            {param pageUrl: $emailTitleLink/}
        {/call}
    {/let}
    {let $usersInvolvedPattern}
        {call Confluence.Templates.Mail.Content.usersInvolvedPattern}
            {param actionString}
                {$modifier.fullName}{sp}{getText('confluence.mail.is.following.users', $numberOfPeopleFollowing)}
            {/param}
            {param users: $listOfFollowing/}
            {param after}
                {if $numberOfPeopleFollowing > length($listOfFollowing)}
                    <a href="{sourceLink(baseUrl() + '/users/viewfollow.action?username=' + $modifier.name)}" title="View all">{getText('confluence.mail.following.viewall')}</a>
                {/if}
            {/param}
        {/call}
    {/let}
    {let $yourNetworkLink}
        {sourceLink(baseUrl() + '/users/viewfollow.action?username=' + $followSubject.name)}
    {/let}
    {call Confluence.Templates.Mail.Chrome.mainTable}
        {param header}
            {call Confluence.Templates.Mail.Chrome.headerPattern}
                {param actionString: getText('confluence.mail.templates.is.following.you')/}
                {param avatarImage: $avatarCid/}
                {param user: $modifier/}
            {/call}
        {/param}
        {param contentArea: [$pageLinkPattern, $usersInvolvedPattern]/}
        {param contextualArea}
            <table class="contextual-excerpt-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td id="follow-user-context-area" class="mobile-resize-text">
                        {getText('confluence.mail.following.view.your.network', $yourNetworkLink)|noAutoescape}
                    </td>
                </tr>
            </table>
        {/param}
        {param footer}
            {call Confluence.Templates.Mail.Chrome.footerPattern}
                {param footerLinks: $footerLinks/}
            {/call}
        {/param}
    {/call}
{/template}