{namespace Confluence.Templates.Mail.Notifications}
/**
* Template for forgot password
* @param resetPasswordLink
* @param forgotPasswordLink
* @param user
* @param footerLinks
*/
{template .forgotPassword}
    {let $pretext}
        {call Confluence.Templates.Mail.Content.notificationCommentPattern}
            {param comment: getText('confluence.mail.templates.change.password') /}
        {/call}
    {/let}
    {let $mainContent}
        {call Confluence.Templates.Mail.Content.notificationCommentPattern}
            {param comment}
                {getText('confluence.mail.templates.change.password.request.link.description')} <a href="{$forgotPasswordLink}">{$forgotPasswordLink}</a><br />
            {/param}
        {/call}
    {/let}
    {let $actionButton}
        {call Confluence.Templates.Mail.Content.primaryButton}
            {param buttonLink: $resetPasswordLink/}
            {param buttonText: getText('confluence.mail.templates.reset.password')/}
        {/call}
    {/let}
    // Need to wrap it in a mailto so we can style it (otherwise browsers add their own mailto *after* botocss and we can't style that
    {let $userEmail}
        <a href="mailto:{$user.email}" class="mailto-link">{$user.email}</a>
    {/let}
    {let $userDetails}
        <table class="contextual-excerpt-pattern" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td class="mobile-resize-text">
                    {call Confluence.Templates.Mail.Content.simpleDataTablePattern}
                        {param tableTitle: getText('email.notification.account.details')/}
                        {param labels: [getText('email.notification.account.details.username'), getText('email.notification.account.details.email'), getText('email.notification.account.details.full.name')] /}
                        {param values: [$user.name, $userEmail, $user.fullName] /}
                    {/call}
                </td>
            </tr>
        </table>
    {/let}
    {call Confluence.Templates.Mail.Chrome.mainTable}
        {param contentArea: [$pretext, ['content': $mainContent, 'class':'padding-top border-top'], $actionButton]  /}
        {param contextualArea: $userDetails /}
        {param footer}
            {call Confluence.Templates.Mail.Chrome.footerPattern}
                {param footerLinks: $footerLinks/}
            {/call}
        {/param}
    {/call}
{/template}