{namespace Confluence.Templates.Mail.Notifications}
/**
 * Template used to speed up Litmus testing. This template will contain all design content for visual testing
 * in multiple email clients
 */
{template .pageTest}
    {let $shortTitle: 'Short Title'/}
    {let $longTitle: 'Why Confluence is the best Wiki in the world and how can we keep it that way for years to come'/}
    {let $contentType: 'page'/}
    {let $user: ['name': 'ted', 'fullName':'Ted Piotrowski']/}
    {let $actionString: 'created by'/}
    {let $avatarImage: 'cid:a'/}
    {let $avatarCid: 'cid:b'/}
    {let $shortFileName: 'Image1.jpg'/}
    {let $longFileName: 'Very long screenshot name with a date likely included with the format 00-00-0000.png'/}
    {let $niceFileSize: '486 Kb'/}
    {let $shortComment: 'A short comment'/}
    {let $longComment: 'A very long commment about your file. This picture is very nice and you should share more'/}
    {let $footerLinks: [['href':'junk','text':'Stop following page'],['href':'junk','text':'Manage notification']]/}

    {let $pageTitleShortInline}
        {call Confluence.Templates.Mail.Content.pageTitlePattern}
            {param contentType: $contentType/}
            {param titleText: $shortTitle/}
            {param contentUrl}
                {baseUrl()}
            {/param}
            {param pageTitleInlinePattern}
                {call Confluence.Templates.Mail.Content.inlineUserPattern}
                    {param user: $user/}
                    {param actionString: $actionString/}
                    {param avatarImage: $avatarImage/}
                {/call}
            {/param}
        {/call}
    {/let}
    {let $pageTitleLongInline}
        {call Confluence.Templates.Mail.Content.pageTitlePattern}
            {param contentType: $contentType/}
            {param titleText: $longTitle/}
            {param contentUrl}
                {baseUrl()}
            {/param}
            {param pageTitleInlinePattern}
                {call Confluence.Templates.Mail.Content.inlineUserPattern}
                    {param user: $user/}
                    {param actionString: $actionString/}
                    {param avatarImage: $avatarImage/}
                {/call}
            {/param}
        {/call}
    {/let}
    {let $pageTitleShortDeleted}
        {call Confluence.Templates.Mail.Content.pageTitlePattern}
            {param contentType: $contentType/}
            {param titleText: $shortTitle/}
            {param deleted: true/}
        {/call}
    {/let}
    {let $pageTitleLongDeleted}
        {call Confluence.Templates.Mail.Content.pageTitlePattern}
            {param contentType: $contentType/}
            {param titleText: $longTitle/}
            {param deleted: true/}
        {/call}
    {/let}
    {let $contentDeleted}
        {call Confluence.Templates.Mail.Content.contentAddedPattern}
            {param attachments: [
                ['cid':'fake','i18nKey':'PNG File','attachment':['downloadPath':'junk','fileName':$shortFileName,'niceFileSize':$niceFileSize,'comment':$shortComment]],
                ['cid':'fake','i18nKey':'PNG File','attachment':['downloadPath':'junk','fileName':$shortFileName,'niceFileSize':$niceFileSize,'comment':$longComment]],
                ['cid':'fake','i18nKey':'PNG File','attachment':['downloadPath':'junk','fileName':$longFileName,'niceFileSize':$niceFileSize,'comment':$shortComment]],
                ['cid':'fake','i18nKey':'PNG File','attachment':['downloadPath':'junk','fileName':$longFileName,'niceFileSize':$niceFileSize,'comment':$longComment]]
                ]/}
            {param deleted: true/}
        {/call}
    {/let}
    {call Confluence.Templates.Mail.Chrome.mainTable}
        {param header}
            {call Confluence.Templates.Mail.Chrome.headerPattern}
                {param actionString: getText('confluence.mail.templates.removed.file')/}
                {param avatarImage: $avatarCid/}
                {param user: $user/}
            {/call}
        {/param}
        {param contentArea: [$pageTitleShortInline, $pageTitleLongInline, $pageTitleShortDeleted, $pageTitleLongDeleted, $contentDeleted]/}
        {param footer}
            {call Confluence.Templates.Mail.Chrome.footerPattern}
                {param footerLinks: $footerLinks/}
            {/call}
        {/param}
    {/call}
{/template}