{namespace Confluence.Templates.Mail.Utils}
/**
 * A bullet point allowing to separate horizontally floating elements.
 *
 * @param? containerClass
 */
{template .bulletPoint}
    {call .floatingTable}
        {param content: ['&bull;']/}
        {param containerClass}
            {if $containerClass}
                {$containerClass}
            {else}
                bullet-point
            {/if}
        {/param}
    {/call}
{/template}