{namespace Confluence.Templates.Mail.Utils}
/**
 * An image with related text right to it.
 *
 * @param imageDataSource
 * @param? imageTitle
 * @param text
 * @param? containerClass
 * @param? tableClass
 * @param? horizontalAlignment
 */
{template .imageWithText}
    {let $imageElement}
        {call .attachedImage data="$imageDataSource"}
            {param title: $imageTitle/}
            {param elementStyle}vertical-align: middle;{if not $containerClass}display: block;{/if}{/param}
        {/call}
    {/let}
    {call .floatingTable data="all"}
        {param content: [$imageElement, $text]/}
        {param verticalAlignment: 'middle'/}
    {/call}
{/template}