{namespace Confluence.Templates.Mail.Utils}
/**
* Creates a user link
* @param user
* @param? linkTextHtml
*/
{template .userLink}
    {if (not isSystemAccount($user))}
    <a href="{sourceLink(baseUrl() + '/display/~' +$user.name)}">{if $linkTextHtml}{$linkTextHtml|noAutoescape}{else}{$user.fullName}{/if}</a>
    {else}
    {if $linkTextHtml}{$linkTextHtml|noAutoescape}{else}{$user.fullName}{/if}
    {/if}
{/template}
