{namespace Confluence.Templates.Mail.Chrome}
/**
 * Header
 * @param actionString
 * @param avatarImage
 * @param user
 */
{template .headerPattern}
{natto(['soy-template-file-name' : 'header-pattern-1.0.0.soy', 'deprecate-in-version' : '5.5', 'remove-in-version' : '6.2'], 'The [headerPattern] template has been changed to use the given user object to derive the user\'s avatar via [com.atlassian.confluence.plugins.email.soy.UserAvatarImageFunction] in [header-pattern-2.0.0.soy].')}
<tr>
    <td id="header-pattern-container">
        <table id="header-pattern" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td id="header-avatar-image-container" valign="top">
                    {if $user}
                        {call Confluence.Templates.Mail.Utils.userLink}
                            {param user: $user/}
                            {param linkTextHtml}
                                <img id="header-avatar-image" class="image_fix" src="cid:{$avatarImage}" height="32" width="32" border="0" />
                            {/param}
                        {/call}
                    {else}
                        <img id="header-avatar-image" class="image_fix" src="cid:{$avatarImage}" height="32" width="32" border="0" />
                    {/if}
                </td>
                <td id="header-text-container" valign="middle">
                    {if $user}
                        {$user.fullName}
                    {else}
                        {getText('confluence.mail.templates.anonymous.name')}
                    {/if}
                    {sp}{$actionString|noAutoescape}
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- End Header pattern -->
{/template}