{namespace Confluence.Templates.Mail.Chrome}
/**
 * Header for ADG Notifications. Contains certain styles the BotoCSS should inject
 * All other styles are contained within a media query (eg @media all { })
 *
 * @param? additionalCssResources list of already serialised CSS resources, will be inserted between the default and media selectors of this template as BotoCSS stops parsing the CSS as soon as it hits @media
 * @param? additionalMobileCssResources list of already serialised CSS resources, will be inserted in the media query for mobile devices
 * @param? additionalBoilerPlateCssResources list of already serialised CSS resources, will be inserted in the media query all {} section
 */
{template .htmlHeader}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
/*
    Email ADG Patterns File
    https://pug.jira.com/wiki/display/DESIGN/Email+ADG+content

    This file contains the structure for all Email ADG content
    Read comments for more information
    Keep styles inline and don't remove anything unless you're sure it works in ALL email clients

    This uses MIT licensed HTML Email Boilerplate for styles inside the <head> tag
    http://htmlemailboilerplate.com/
*/
<head>
    <title>Message Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {let $clusterNodeId}
        {notificationsClusterNodeId()}
    {/let}
    {let $clusterNodeName}
        {notificationsClusterNodeName()}
    {/let}
    {if $clusterNodeId}
        <meta name="x-atlassian-cluster-node-id" content="{$clusterNodeId}"/>
    {/if}
    {if $clusterNodeName}
        <meta name="x-atlassian-cluster-node-name" content="{$clusterNodeName}"/>
    {/if}
    <base href="{baseUrl()}">
    <style type="text/css" class="delete-email-style">
        {importResource('com.atlassian.confluence.plugins.confluence-email-resources:chrome-template', 'all-clients.css')}
        {importResource('com.atlassian.confluence.plugins.confluence-inline-tasks:notification-styles', 'inline-tasks.css')}
        {importResource('com.atlassian.confluence.plugins.confluence-email-resources:content-styles-for-email-notifications', 'tables.css')}
        {if $additionalCssResources}
            {if isList($additionalCssResources)}
                {foreach $additionalResource in $additionalCssResources}
                    {$additionalResource|noAutoescape}
                {/foreach}
            {else}
                {$additionalCssResources|noAutoescape}
            {/if}
        {/if}
    </style>
    <style type="text/css">
        @media only screen and (max-device-width: 480px) {lb}
            {importResource('com.atlassian.confluence.plugins.confluence-email-resources:chrome-template', 'mobile-clients.css')}
            {if $additionalMobileCssResources}
                {if isList($additionalMobileCssResources)}
                    {foreach $additionalMobileCssResource in $additionalMobileCssResources}
                        {$additionalMobileCssResource|noAutoescape}
                    {/foreach}
                {else}
                    {$additionalMobileCssResources|noAutoescape}
                {/if}
            {/if}
        {rb}{\n}

        /* This media selector for centering the recommended content email */
        @media (min-width: 900px) {lb}
            #center-content-table {lb} width: 900px; {rb}
        {rb}{\n}

        /* @media all {} prevents BotoCSS from injecting the styles inline. These styles should not be inlined because
         * they contain some vendor specific tags. For example, outlook places all their emails in #outlook container
         * that does not exist in the email at render time
         */
        @media all {lb}
            /** Third-party code used to format emails appropriately in several popular email clients **/
            {importResource('com.atlassian.confluence.plugins.confluence-email-resources:chrome-template', 'htmlemailboilerplate.css')}
            {importResource('com.atlassian.confluence.plugins.confluence-inline-tasks:notification-styles', 'inline-tasks-boilerplate.css')}
            {if $additionalBoilerPlateCssResources}
                {if isList($additionalBoilerPlateCssResources)}
                    {foreach $additionalBoilerPlateCssResource in $additionalBoilerPlateCssResources}
                        {$additionalBoilerPlateCssResource|noAutoescape}
                    {/foreach}
                {else}
                    {$additionalBoilerPlateCssResources|noAutoescape}
                {/if}
            {/if}
        {rb}{\n}
    </style>
</head>
{/template}