.header-pattern-container {
    padding: 10px 10px 10px 0px !important;
    line-height: 20px !important;
}

.header-avatar-image-container {
    padding-right: 8px !important;
}

.mobile-expand {
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding-left: 0px !important;
}